<div class="container">
  <h1>タスクの編集</h1>
  <%= form_with model: @todo, local:true do |form| %>
    <%= form.label :title %>
    <%= form.text_field :title, placeholder: "タスクを入力する" %>
    <input type="submit" value="保存する">
  <% end %>
    <%= link_to '一覧に戻る', todos_path, class: "back" %>
</div>